# Ignore the virtual environment directory
venv/
bin/
env/
lib/
playground/
backend/tmp/
deploy/customer-policies/

# Ignore the .env file
.env
.env.ec2
# keys files
*.pem

# Other common Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE specific files
.idea/
.vscode/

# Ignore desktop specific files
.DS_Store

# Ignore database files
db/
test_db/

# Ignore output dirs
out/

# ignore playground
playground/
