# Ignore the virtual environment directory
venv/
# Ignore the .env file
.env

# Other common Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE specific files
.idea/
.vscode/

# Ignore desktop specific files
.DS_Store