# .env file
AIRTABLE_API_KEY='airtable_api_key'
AIRTABLE_APP_BASE_ID = 'airtable_app_base_id'
LOGGER_LEVEL='DEBUG'
UT_RUN_SKIPPED_TESTS=False
DB_DIRECTORY='db'
# use the following to set the log level for a specific module
LOGGER_LEVEL.module_name='DEBUG'
BC_MODE=false # change to true for backwards compatibility mode'
TRANSCRIBE_MODEL='speakcare' # 'speakcare' or 'whisper'

# OpenAI environment variables
OPENAI_API_KEY='openai_api_key'
OPENAI_TEMPERATURE=temperature #0.2 is a good starting point
OPENAI_MAX_COMPLETION_TOKENS=max_completion_tokens #4096 is a good starting point
OPENAI_MODEL=model # we are currently using 


# AWS environment variables
AWS_PROFILE=your-aws-profile
S3_BUKET_NAME=your-s3-bucket-name
DYNAMODB_SPEAKERS_TABLE_NAME=your-dynamodb-speakers-table-name
USE_LOCALSTACK=false # set to true if you are running the application locally

# Localstack environment variables
LOCALSTACK_ENDPOINT=http://localhost:4566 # localstack endpoint

# program environment variables
MATCHING_SIMILARITY_THRESHOLD=your-speaker-matching-similarity-threshold # 0.75 is a good starting point
ADDITION_SIMILARITY_THRESHOLD=your-speaker-addition-similarity-threshold # 0.95 is a good starting point

# Google drive env variables
GDRIVE_SCOPES = ['https://www.googleapis.com/auth/drive.readonly']
GDRIVE_VOICE_SAMPLES_FOLDER_ID = "voice-samples-folder-id"
GDRIVE_CARE_SESSIONS_FOLDER_ID = "care-sessions-folder-id"
GOOGLE_OAUTH_CREDS_FILE = "~/.google/auth/credentials.json"
GDRIVE_DOWNLOAD_DIR = "/tmp/speakcare/gdrive/downloads"