# Ignore the virtual environment directory
venv/
bin/
env/
lib/
toy/


# Ignore the .env file
.env

# Other common Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE specific files
.idea/
.vscode/

# Ignore desktop specific files
.DS_Store

# Ignore database files
db/
test_db/

# Ignore local runtime artifacts
out/
output_segments/
pretrained_models/

# Google auth token
token.pickle
