audioread
boto3
botocore
certifi
cffi
charset-normalizer
datasette
decorator
deepdiff
ffmpeg-python
filelock
flask
flask-cors
flask_restx
fsspec
fuzzy
gtts
gunicorn
idna
Jinja2
jmespath
joblib
lazy_loader
librosa
llvmlite
localstack
MarkupSafe
mpmath
msgpack
networkx
numba
numpy==1.26.4
openai
packaging
platformdirs
pooch
pyairtable
pyaudio
pycparser
pydub
python-dateutil
python-dotenv
rapidfuzz
requests
Resemblyzer
s3transfer
scikit-learn
scipy
setuptools
six
soundfile
soxr
sqlalchemy
sympy
threadpoolctl
torch
typing
typing_extensions
urllib3
wave
webrtcvad
yt_dlp
